@import "../style/theme/themes";
@import "../style/theme/mixin";
.article-list-page {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .list-container {
        height: 100%;
        margin: 0px auto;
        margin-bottom: 0;
        .infinite-list {
            &::-webkit-scrollbar {
                display: none;
            }
            width: 100%;
            height: calc(100% - 60px);
            overflow-y: auto;
            .list-item {
                width: 100%;
                min-width: 300px;
                max-width: 100%;
                box-sizing: border-box;
                padding: 12px;
                padding-bottom: 4px;
                margin: 12px 0;
                background: #fff;
                cursor: pointer;
                border-radius: 4px;
                background-size: 100% auto;
                background-position: center center;
                background-repeat: no-repeat;
                .container {
                    .flex {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .title {
                            flex: 1;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-size: 18px;
                            font-weight: bold;
                        }
                        .info {
                            width: 105px;
                            flex-grow: 0;
                            flex-shrink: 0;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            i {
                                font-size: 16px;
                            }
                            span {
                                font-size: 14px;
                            }
                        }
                    }
                    .time {
                        color: #666666;
                        font-size: 14px;
                        margin: 8px 0;
                    }
                    .tags{
                        .el-tag{
                            margin: 0 8px 8px 0;
                        }
                    }
                }
            }
        }
    }
    //电脑样式,一般不写
    @media screen and(min-width: 1200px) {
        .list-container {
            max-width: 1200px;
        }
    }
    //平板样式
    @media screen and(max-width: 1199px) {
        .list-container {
            max-width: 100%;
        }
    }
    //手机样式
    @media screen and(max-width: 768px) {
        .list-container {
            max-width: 100%;
        }
    }
}
