@import "../theme/themes";
@import "../theme/mixin";
.login-page {
  width: 100%;
  height: 100%;
  position: relative;

  .form-area {
    position: absolute;
    top: 20%;
    left: 0;
    //电脑样式,一般不写
    @media screen and(min-width: 1200px) {
      display: none;
    }
    //平板样式
    @media screen and(max-width: 1199px) and (min-width: 768px){
      display: none;
    }
    //手机样式
    @media screen and(max-width: 768px) {
      width: 100%;
    }
    .login-form{
      padding: 20px;
      padding-top: 0;
      .title{
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        line-height: 60px;
        @include font_color(whiteColor)
      }
    }
  }
}
