.not-found_page {
    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FFFFFF;
        border-radius: 10px;
        padding: 30px 0;
        box-shadow: 0 2px 4px rgba(10, 16, 20, 0.24), 0 0 4px rgba(10, 16, 20, 0.12);
        >section {
            &.logo {
                margin-bottom: 20px;
                i {
                    font-size: 300px;
                    //电脑样式,一般不写
                    @media screen and(min-width: 1200px) {}
                    //平板样式
                    @media screen and(max-width: 1199px) {}
                    //手机样式
                    @media screen and(max-width: 768px) {
                        font-size: 210px;
                    }
                }
            }
            &.tips {
                font-size: 30px;
                line-height: 1.2;
                text-align: center;
                //电脑样式,一般不写
                @media screen and(min-width: 1200px) {}
                //平板样式
                @media screen and(max-width: 1199px) {}
                //手机样式
                @media screen and(max-width: 768px) {
                    font-size: 22px;
                }
            }
        }
    }
}