@import "../../../../style/theme/themes";
@import "../../../../style/theme/mixin";
.menu-item {
    height: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    .title {
        height: 40px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &::before {
            content: " ";
            background: #409eff;
            width: 5px;
            height: 1.1em;
            position: absolute;
            left: 0px;
            top: 50%;
            transform: translateY(-45%);
        }
        span {
            font-size: 18px;
            font-weight: bold;
            padding-left: 10px;
            @include font_color(whiteColor);
        }
        > div {
            i {
                cursor: pointer;
                font-size: 22px;
                font-weight: bold;
                @include font_color(whiteColor);
                + i {
                    margin-left: 6px;
                }
            }
        }
    }
    .info {
        height: calc(100% - 40px);
        box-sizing: border-box;
        padding-bottom: 10px;
        padding-top: 0px;
        &.article-card {
            .article-list {
                width: 100%;
                height: 100%;
                .list-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    line-height: 26px;
                    .update-time {
                        width: 100px;
                        flex-shrink: 0;
                        flex-grow: 0;
                        text-align: right;
                        font-size: 16px;
                        font-weight: bold;
                        @include font_color(whiteColor);
                    }
                    .item-title {
                        flex: 1;
                        max-width: calc(100% - 100px);
                        box-sizing: border-box;
                        padding-right: 2em;
                        padding-left: 1em;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        position: relative;
                        cursor: pointer;
                        font-size: 16px;
                        @include font_color(whiteColor);
                        font-weight: bold;
                        &::before{
                            content: " ";
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            top: 50%;
                            left: 0;
                            font-weight: bold;
                            transform: translateY(-50%);
                            @include background(whiteColor);
                        }
                    }
                    &:hover{
                        .item-title{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}
