@import "../theme/themes";
@import "../theme/mixin";
html {
    width: 100%;
    height: 100%;
    body {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: url("https://cdn.jsdelivr.net/gh/supuwoerc/jsdelivr-cdn/assets/images/random.jpeg") no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
        &.dark {
            background: url("https://cdn.jsdelivr.net/gh/supuwoerc/jsdelivr-cdn/assets/images/random2.jpeg") no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }
    #app {
        width: 100%;
        height: 100%;
        .el-header {
            border-bottom: 1px solid transparent;
        }
        .el-main {
            background: transparent;
            padding: 10px;
            overflow: hidden;
            width: 100%;
            height: calc(100% - 60px);
        }
        .el-container {
            width: 100%;
            height: 100%;
        }
    }
}

@font-face {
    font-family: 'zk'; //重命名字体名
    src: url('./assets/ttf/zkklt.ttf'); //引入字体
    font-weight: normal;
    font-style: normal;
}
