html {
    width: 100%;
    height: 100%;
    body {
        width: 100%;
        height: 100%;
    }
    #app {
        width: 100%;
        height: 100%;
        .el-header {
            border-bottom: 1px solid #eaecef;
        }
        .el-container {
            width: 100%;
            height: 100%;
        }
    }
}