@import "../../theme/themes";
@import "../../theme/mixin";
.comment-component {
    background: #fff;
    margin: 12px 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0 12px;
    min-height: 360px;
    .total-message {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #ececec;
        padding: 12px 0;
        >span {
            font-size: 18px;
            position: relative;
        }
    }
}