@import "../../theme/themes";
@import "../../theme/mixin";
.common-header-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    >div {
        height: 100%;
        &.left {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            >div {
                font-size: 22px;
                font-weight: 600;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                cursor: pointer;
                img {
                    height: 50px;
                    margin-right: 10px;
                }
                i {
                    font-size: 40px;
                }
                span {
                    margin-left: 6px;
                    color: #ffffff;
                    font-size: 26px;
                    font-family: "zk", "Microsoft YaHei", "微软雅黑", "sans-serif";
                }
            }
        }
        &.right {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            >div.navbar {
                margin-right: 10px;
                .el-menu {
                    background-color: rgba(0, 0, 0, 0) !important;
                    >li {
                        background-color: transparent !important;
                    }
                    .el-submenu__title {
                        background-color: transparent !important;
                        @include font_color(whiteColor);
                        >i {
                            @include font_color(whiteColor);
                        }
                    }
                }
                .el-menu.el-menu--horizontal {
                    border-bottom: solid 1px transparent;
                    >.el-menu-item:not(.is-active) {
                        @include font_color(whiteColor);
                    }
                }
                //电脑样式,一般不写
                @media screen and(min-width: 1200px) {}
                //平板样式
                @media screen and(max-width: 1199px) {}
                //手机样式
                @media screen and(max-width: 768px) {
                    display: none;
                }
            }
        }
    }
    .theme-dialog {
        border-radius: 10px;
        .tips {
            font-size: 16px;
        }
    }
}