.manage-user {
    height: 100%;
    >>>.el-select .el-input {
        width: 108px;
    }
    .search-area {
        display: flex;
        align-items: center;
        justify-content: center;
        //电脑样式,一般不写
        @media screen and(min-width: 1200px) {
            >div {
                width: 600px;
            }
        }
        //平板样式
        @media screen and(max-width: 1199px) and (min-width: 768px) {
            >div {
                width: 500px;
            }
        }
        //手机样式
        @media screen and(max-width: 768px) {
            >div {
                width: 100%;
            }
        }
    }
    .infinite-list {
        overflow-y: auto;
        height: calc(100% - 70px);
        margin: 15px 0;
    }
}