@import "../../theme/themes";
@import "../../theme/mixin";
.markdown-file-show-container-parent {
    width: 100%;
    box-sizing: border-box;
    .markdown-file-show-container {
        box-sizing: border-box;
        @include font_color(whiteColor);
    }
}